# --- Entornos virtuales ---
.venv/
venv/
env/
ENV/
*.venv/
*.envrc
.python-version

# --- Archivos de entorno / variables ---
.env
*.env
*.env.*
.env.*
.env.local
.env.development
.env.production
.env.test

# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# bytecode / cachés
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
ruff_cache/

# coverage / testing
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# setuptools / packaging
build/
dist/
*.egg-info/
.eggs/

# Django static & media (generados)
staticfiles/
static/
media/

# SQLite (si lo usas localmente)
db.sqlite3
*.sqlite3

# Logs
*.log
logs/
*.pid

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
